/** these classes are pre-generated **/
:root {
    /*Use these five color variables, comes from our palette!*/
    --main-bg-color: white;
    --main-contrast-color: #87524F;
    --main-color: #8FB8A0;
    --main-color-light: #E0E0E0;
    --main-color-dark: #6E8C7B;
}

/* CSS RESETS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%;
    font: inherit; */
    /*! vertical-align: baseline; */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Media queries below, add any CSS rules you want changed when size of viewing device reaches a threshold */

@media only screen and (max-width: 1300px) {

    #maindisplay {
        margin-top: 25vh !important;
    }
}

@media only screen and (max-height: 500px) {

    #maindisplay {
        height: 100% !important;
    }

    #belowsearchbar {
        margin-top: 3vw;
    }

}

@media only screen and (max-width: 950px) {
    #maindisplay {
        margin-top: 17vw !important;
    }
}

@media only screen and (max-width: 890px) {
    #maindisplay {
        margin-top: 25vw !important;
    }
}

@media only screen and (max-width: 580px) {
    #maindisplay {
        margin-top: 40vh !important;
    }
}

@media only screen and (max-width: 370px) {
    #maindisplay {
        margin-top: 45vh !important;
    }
}

#superwrapper {
    margin: 0;
    height: 100vh;

}

#navbar {
    top: 0;
    font-size: 17px;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 82px;
}

#homeImg {
    height: 100%;
    /*! position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
}

/*#navbarlinks {*/
/*display: flex;*/
/*flex-direction: column;*/
/*justify-content: center;*/
/*}*/

#navbarlinks > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#maindisplay {
    margin-top: 7vw;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

#searchbar {
    width: 50vw;
    max-width: 50vw;
    height: 10vh;
    margin: 0 auto;
}

#belowsearchbar {
    /* overflow: hidden; */
    height: 100%;
}

.gridded {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 30vw 30vw 30vw;
    grid-gap: 1em;
}

.gridded > * {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#accountoptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#accountoptions > img {
    width: 10vw;
    height: 10vh;
}

#accountoptions > a {
    font-size: 1.2vw;
    font-family: 'Sura', serif;
    color: var(--main-contrast-color);
    text-decoration: none;
}

#accountoptions > a:hover {
    color: black;
    transform: scale(1.1);
}

#tabsandcharts {
    height: 100%;
    width: 100%;
}

#scatterChartContainer {
    /*height: 100%;*/
    /*width: 100%;*/
    /*overflow: auto;*/
}

#scatterChart {
    height: 50vh !important;
    width: 55vw !important;
}

/*.chartContainer {*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*height: 100%;*/
/*width: 55vw;*/
/*}*/

#lineChart {
    height: 50vh !important;
    width: 55vw !important;
}

.tabs-panel .is-active {
    height: 100%;
    width: 100%;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

#tabsandcharts > * {
    width: 100% !important;
    height: 100% !important;
}

.small-6 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.tabs-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    /* max-width: 50vw;
    width: 50vw; */
}

.tabs-info {
    margin-top: 15px;
    padding-right: 10px;
    display: flex;
    flex-direction: row-reverse;
}

#keywordlist {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    /*width: 20vw;*/
    /*max-width: 30vw;*/
    height: 10vh;

}

#savedKeywords {
    width: 100%;
    height: 100%;
}

#savedKeywords > li {
    list-style: none;
    /*display: inline;*/
}

ul#savedKeywords {
    margin: 0px;
}

#chart-tabs {
    height: 7vh;
}

#addKeyWordButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 3px;
}

h4 {
    font-size: 2vw;
    text-align: center;
}

#gauge {
    max-width: 600px;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fg-dial {
    font-size: 200%;
    font-weight: bold;
    left: 10vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fg-dial-label {
    width: inherit;
    font-size: 200%;
    font-weight: bold;
    left: 100px;
    text-align: center;
    top: 250px;
}

.menu-hover-lines {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.35s ease;
    height: 100%;
}

.menu-hover-lines li a {
    padding: 0.75rem 0;
    color: var(--main-contrast-color);
    position: relative;
    margin-left: 1rem;
    /*! margin-top: 1rem; */
}

.menu-hover-lines a {
    text-transform: uppercase;
    color: var(--main-contrast-color);
}

.menu-hover-lines li:first-child a {
    margin-left: 0;
}

.menu-hover-lines li.active > a {
    background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: var(--main-contrast-color);
    width: 0;
}

.menu-hover-lines a::before {
    top: 0;
    left: 0;
}

.menu-hover-lines a::after {
    bottom: 0;
    right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
    color: #0a0a0a;
    transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
    width: 100%;
}

#homeLogo a:before,
#homeLogo a::after{
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: transparent;
    width: 0;
}

.top-bar, .top-bar li {
    background-color: var(--main-color-light);
    height: 100%;
}

h1, h2, h3, h4, input, span, .fg-dial {
    font-family: 'Sura', serif;
}

.searchButton {
    background-color: var(--main-contrast-color);
}

.searchButton:active {
    transform: translateY(1px);
}

.searchButton:hover {
    background-color: var(--main-color-light);
}

.searchButton:focus {
    background-color: var(--main-contrast-color);
}

.buttonMargin {
    margin: 5px;
}

p, a, .fg-dial-label, th, td {
    font-family: 'Rubik', sans-serif;
}

.registration-group {
    position: relative;
    margin-top: 2vw;
    margin-left: 10vw;
    margin-bottom: 1vw;
    width: 50vw;
    max-width: 50vw;
    border-radius: 3px;
}

#chartHelper {
    opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
    /*width: auto;*/
}

#chartHelper:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.jsChart {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* max-width: 50vw;
    width: 50vw;
    height: 100%; */
}

#panel2 panel1 {
    height: 100%;
    width: 100%;
}

#gaugeCanvas {
    height: 13vw;
    max-width: 40vw;
}

.button {
    background-color: var(--main-contrast-color);
}

#panelOne, #panelTwo, #panelThree, #panelFour, #panelFive {
    color: var(--main-contrast-color);
}

.statArea {
    display: flex;
    justify-content: center;
}

.descrArea {
    /* font-size: 1.5em; */
    display: flex;
    justify-content: center;
}

.item {
    flex: 1 1 0;
    text-align: center;
}

#numberOfPosTweets {
    color: var(--main-color-dark);
}

#numberOfNegTweets {
    color: var(--main-contrast-color);
}

.carousel-inner > .item > img {
    width: 1780px;
    height: 758px;
    opacity: 0.9;
}

#registrationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 17vw;
    margin-top: 12vw;
    width: 80%;
    border-radius: 8px;
}

input[type="checkbox"] {
    width: 5vw;
    height: 5vh;
}

#areabelow {
    display: inline-block;
}

.buttonToSite {
    font-family: 'Rubik', sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    size: 16px;
    text-decoration: none;

}

.buttonToSite:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.container-fluid {
    padding: 0;
}

.textbox {
    color: rgba(0, 0, 0, 1);
    margin: 10px;
}

.carousel-caption {
    position: absolute;
    font-family: 'Rubik', sans-serif;
    width: 300px;
    color: #0a0a0a;
    background-color: rgba(224, 224, 224, 0.5);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-top: 100px;
    margin-left: 700px;
    margin-bottom: 400px;
    font-size: 16px;
    display: inline-block;
}

div.infoContainer {
    margin: 0 auto;
    width: 100%;
    height: 734px;
    display: table;
}

.header1 {
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
    color: var(--main-contrast-color);
}

.header2 {
    margin-top: 113px;
    margin-bottom: 40px;
    text-align: center;
    color: var(--main-contrast-color);
}

.header3 {
    margin-top: 113px;
    margin-bottom: 40px;
    text-align: center;
    color: var(--main-contrast-color);
}

p {
    text-align: center;
}

.copy {
    text-align: center;
    font-size: 12px;
    margin-left: 10px;
}

.contacts {
    float: right;
    font-size: 12px;
    margin-right: 10px;
}

#statisticsTable {
    width: 90%;
}

.removeKeyword {
    border-radius: 50%;
    padding: 0.40em 0.55em;
}

.inline-block {
    display: block;
    padding-bottom: 50px;
    font-size: 20px;
}

.inline-block > p {
    display: inline;
}

.howitworksWrapper {
    display: flex;
    justify-content: space-around;
}

.devTeamWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pricingWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricingImg1 {
    padding-top: 40px;
    height: 300px;
    width: 300px;
}

.elementWrapper {
    width: 33%;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#howitworksImg1, #howitworksImg2, #howitworksImg3 {
    height: 200px;
    width: 200px;
}

footer {
    padding: 1rem;
    text-align: end;
}

.fixedFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#trackedKeywordsTitle {
    align-self: baseline;
}

.avatar {
    height: 300px;
    width: 300px;
}