/** these classes are pre-generated **/
:root {
    /*Use these five color variables, comes from our palette!*/
    --main-bg-color: white;
    --main-contrast-color: #87524F;
    --main-color: #8FB8A0;
    --main-color-light: #E0E0E0;
    --main-color-dark: #6E8C7B;
}

#gauge {
    position: absolute;
    width: 400px;
    height: 300px;
}
.fg-dial {
    width: inherit;
    font-size: 200%;
    font-weight: bold;
    left: 100px;
    position: absolute;
    text-align: center;
    top: 215px;
}

.fg-dial-label {
    width: inherit;
    font-size: 200%;
    font-weight: bold;
    left: 100px;
    position: absolute;
    text-align: center;
    top: 250px;
}


#scatterChartContainer {
    height: 90vh;
    width: 70vw;
}

.menu-hover-lines {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.35s ease;
}

.menu-hover-lines li a {
    padding: 0.75rem 0;
    color: var(--main-contrast-color);
    position: relative;
    margin-left: 1rem;
    margin-top: 1rem;
}

.menu-hover-lines li:first-child a {
    margin-left: 0;
}

.menu-hover-lines li.active > a {
    background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: var(--main-contrast-color);
    width: 0;
}

.menu-hover-lines a::before {
    top: 0;
    left: 0;
}

.menu-hover-lines a::after {
    bottom: 0;
    right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
    color: #0a0a0a;
    transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
    width: 100%;
}

.top-bar, .top-bar li {
    background-color: var(--main-color-light);
}

h1, input, span {
    font-family: 'Sura', serif;
}

p, a {
    font-family: 'Rubik', sans-serif;
}

.center-me {
    margin: 0 auto;
    width: 80%;
}

.input-group {
    margin: 0 auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: 50%;
}
