/** these classes are pre-generated **/
:root {
    /*Use these five color variables, comes from our palette!*/
    --main-bg-color: white;
    --main-contrast-color: #87524F;
    --main-color: #8FB8A0;
    --main-color-light: #E0E0E0;
    --main-color-dark: #6E8C7B;
}

/* Media queries below, add any CSS rules you want changed when size of viewing device reaches a threshold */

@media only screen and (max-width: 1000px) {

    .input-group{
        margin-top: 20vw!important;
    }
    .small-6 {
        margin-top: 28vw!important;
    }
}

@media only screen and (max-width: 600px) {

    .input-group{
        margin-top: 26vw!important;
    }
    .small-6 {
        margin-top: 34vw!important;
    }
}

@media only screen and (max-width: 550px) {

    .input-group{
        margin-top: 34vw!important;
    }
    .small-6 {
        margin-top: 42vw!important;
    }
}

@media only screen and (max-width: 400px) {

    .input-group{
        margin-top: 70vw!important;
    }
    .small-6 {
        margin-top: 82vw!important;
    }
}

#navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
}

h4 {

    font-size: 2vw;
    text-align: center;
}


#gauge {
    max-width: 600px;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fg-dial {
    font-size: 200%;
    font-weight: bold;
    left: 10vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fg-dial-label {
    width: inherit;
    font-size: 200%;
    font-weight: bold;
    left: 100px;
    text-align: center;
    top: 250px;
}


.menu-hover-lines {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.35s ease;
}

.menu-hover-lines li a {
    padding: 0.75rem 0;
    color: var(--main-contrast-color);
    position: relative;
    margin-left: 1rem;
    margin-top: 1rem;
}

.menu-hover-lines li:first-child a {
    margin-left: 0;
}

.menu-hover-lines li.active > a {
    background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: var(--main-contrast-color);
    width: 0;
}

.menu-hover-lines a::before {
    top: 0;
    left: 0;
}

.menu-hover-lines a::after {
    bottom: 0;
    right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
    color: #0a0a0a;
    transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
    width: 100%;
}

.top-bar, .top-bar li {
    background-color: var(--main-color-light);
}

h1, h4, input, span {
    font-family: 'Sura', serif;
}

#searchButton {
    background-color: var(--main-color);
}
#searchButton:active {
    transform: translateY(1px);
}

#searchButton:hover {
    background-color: var(--main-color-dark);
}

p, a {
    font-family: 'Rubik', sans-serif;
}

.center-me {
    margin: 0 auto;
    width: 80%;
}


.maindisplay {
}

.input-group {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10vw;
    margin-left: 20vw;
    margin-bottom: 2vw;
    width: 50vw;
    max-width: 50vw;
    border-radius: 3px;
}

.small-6 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 17vw;
    margin-left: 10vw;
    margin-bottom: 2vw;
    width: 50vw;
    max-width: 50vw;
}

.tabs-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 50vw;
    width: 50vw;
}

#myChart {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 50vw;
    width: 50vw;
}


#scatterChartContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90vh;
    width: 55vw;
}

#gaugeCanvas {
    max-width: 40vw;
}

#panelOne{
    color: var(--main-contrast-color);
}
#panelTwo{
    color: var(--main-contrast-color);
}
#panelThree{
    color: var(--main-contrast-color);
}

.statArea {
    display: flex;
    justify-content: center;
}

.descrArea {
    display: flex;
    justify-content: center;
}

.item {
    flex: 1 1 0;
    text-align: center;
}

#numberOfPosTweets {
    color: #90cd8a;
}

#numberOfNegTweets {
    color: #f58368;
}


html, body { padding: 0; margin: 0; width: 100%; height: 100%; }