/** these classes are pre-generated **/
:root {
    /*Use these five color variables, comes from our palette!*/
    --main-bg-color: white;
    --main-contrast-color: #87524F;
    --main-color: #8FB8A0;
    --main-color-light: #E0E0E0;
    --main-color-dark: #6E8C7B;
}




/* Media queries below, add any CSS rules you want changed when size of viewing device reaches a threshold */

@media only screen and (max-width: 1000px) {

    .input-group{
        margin-top: 20vw!important;
    }
    .small-6 {
        margin-top: 28vw!important;
    }
}

@media only screen and (max-width: 600px) {

    .input-group{
        margin-top: 26vw!important;
    }
    .small-6 {
        margin-top: 34vw!important;
    }
}

@media only screen and (max-width: 550px) {

    .input-group{
        margin-top: 34vw!important;
    }
    .small-6 {
        margin-top: 42vw!important;
    }
}

@media only screen and (max-width: 400px) {

    .input-group{
        margin-top: 70vw!important;
    }
    .small-6 {
        margin-top: 82vw!important;
    }
}


#navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
}

h4 {

    font-size: 2vw;
    text-align: center;
}


#gauge {
    max-width: 600px;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fg-dial {
    font-size: 200%;
    font-weight: bold;
    left: 10vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fg-dial-label {
    width: inherit;
    font-size: 200%;
    font-weight: bold;
    left: 100px;
    text-align: center;
    top: 250px;
}


.menu-hover-lines {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.35s ease;
}

.menu-hover-lines li a {
    padding: 0.75rem 0;
    color: var(--main-contrast-color);
    position: relative;
    margin-left: 1rem;
    margin-top: 1rem;
}

.menu-hover-lines li:first-child a {
    margin-left: 0;
}

.menu-hover-lines li.active > a {
    background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: var(--main-contrast-color);
    width: 0;
}

.menu-hover-lines a::before {
    top: 0;
    left: 0;
}

.menu-hover-lines a::after {
    bottom: 0;
    right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
    color: #0a0a0a;
    transition: all 0.35s ease;
}


.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
    width: 100%;
}

.top-bar, .top-bar li {
    background-color: var(--main-color-light);
}

h1, h4, input, h3, span, .fg-dial {
    font-family: 'Sura', serif;
}

.searchButton {
    background-color: var(--main-contrast-color);
}
.searchButton:active {
    transform: translateY(1px);
}

.searchButton:hover {
    background-color: var(--main-color-light);
}

.searchButton:focus {
    background-color: var(--main-contrast-color);
}

.buttonMargin {
    margin: 5px;
}

p, a, .fg-dial-label {
    font-family: 'Rubik', sans-serif;
}

.center-me {
    margin: 0 auto;
    width: 80%;
}


.maindisplay {
}

.input-group {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7vw;
    margin-left: 20vw;
    margin-bottom: 2vw;
    width: 50vw;
    max-width: 50vw;
    border-radius: 3px;
}


.registration-group {
    position: relative;
    margin-top: 2vw;
    margin-left: 10vw;
    margin-bottom: 1vw;
    width: 50vw;
    max-width: 50vw;
    border-radius: 3px;
}

#searchTweetInputWrapper{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7vw;
    margin-left: 20vw;
    margin-bottom: 2vw;
    width: 50vw;
    max-width: 50vw;
    border-radius: 3px;
}

.small-6 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 11.5vw;
    margin-left: 10vw;
    margin-bottom: 2vw;
    width: 50vw;
    max-width: 50vw;
}

.tabs-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 50vw;
    width: 50vw;
}

.tabs-info {
    margin-top: 15px;
    padding-right: 10px;
    display: flex;
    flex-direction:row-reverse;
}

#chartHelper {
    opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
    /*width: auto;*/
}

#chartHelper:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.jsChart {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 50vw;
    width: 50vw;
    height: 100%;
}

#panel2 panel1{
    height: 100%;
}

.chartContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 55vw;
}

#gaugeCanvas {
    height: 13vw;
    max-width: 40vw;
}


.button {
    background-color: var(--main-contrast-color);
}
#panelOne{
    color: var(--main-contrast-color);
}
#panelTwo{
    color: var(--main-contrast-color);
}
#panelThree{
    color: var(--main-contrast-color);
}
#panelFour{
    color: var(--main-contrast-color);
}

.statArea {
    display: flex;
    justify-content: center;
}

.descrArea {
    display: flex;
    justify-content: center;
}

.item {
    flex: 1 1 0;
    text-align: center;
}

#numberOfPosTweets {
    color: var(--main-color-dark);
}

#numberOfNegTweets {
    color: var(--main-contrast-color);
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/*img {*/
    /*display: block;*/
    /*width: 1000px;*/
    /*margin: 0 auto;*/
/*}*/


.carousel-inner > .item > img {
    width:1780px;
    height:758px;
    opacity: 0.9;
}


#registrationForm {
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-left: 17vw;
    margin-top: 12vw;
    width:80%;
    border-radius: 8px;
}

input[type="checkbox"]{
    width:5vw;
    height: 5vh;
}

#areabelow{
    display: inline-block;
}


html, body { padding: 0; margin: 0; width: 100%; height: 100%; }

.buttonToSite{
    font-family: 'Rubik', sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    size: 16px;
    text-decoration: none;

}
.buttonToSite:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}
.container-fluid{
    padding: 0;
}
#textbox{
    color: rgba(0, 0, 0, 1);
    margin: 10px;
}

.carousel-caption {
    position:absolute;
    font-family: 'Rubik', sans-serif;
    width: 300px;
    color: #0a0a0a;
    background-color: rgba(224, 224, 224, 0.5);
    max-height: 200px;
    max-width: 300px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-top: 100px;
    margin-left: 700px;
    margin-bottom: 400px;
    font-size: 16px;
}

