<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentify - Track social media sentiment</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik|Sura" rel="stylesheet">
</head>

<body>
    <div data-sticky-container>
        <div class="small-12 sticky" data-sticky data-options="marginTop: 0">
            <div class="top-bar">
                <ul class="menu menu-hover-lines">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Demo</a>
                    </li>
                    <li>
                        <a href="#">How it works</a>
                    </li>
                    <li>
                        <a href="#">Pricing</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="grid-x grid-padding-x align-center">
            <div class="input-group">
                <span class="input-group-label">Search</span>
                <input id="searchTweetInput" class="input-group-field" type="text" name="input"/>
                <div class="input-group-button">
                    <input id="searchButton" type="submit" class="button" value="Search">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="columns">
                <ul class="tabs" data-tabs id="example-tabs">
                    <li class="tabs-title is-active">
                        <a href="#panel1" aria-selected="true">Gauge</a>
                    </li>
                    <li class="tabs-title">
                        <a href="#panel2">Scatter plot</a>
                    </li>
                    <li class="tabs-title">
                        <a href="#panel3">Placeholder</a>
                    </li>
                </ul>

                <div class="tabs-content" data-tabs-content="example-tabs">
                    <div class="tabs-panel is-active" id="panel1">
                        <div id="gauge"></div>
                    </div>
                    <div class="tabs-panel" id="panel2">
                        <div id="scatterChartContainer">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    <div class="tabs-panel" id="panel3">
                        <h2>Placeholder</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="output"></div>




    <script src="js/vendor/jquery.js"></script>
    <!--Maybe remove one of the jQuery script links-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="js/FlexGauge.js"></script>
    <script src="js/app.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>




</body>

</html>