<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
<p th:text="${tweet}"></p>
<p th:text="${sentiment}"></p>
<script src="js/vendor/jquery.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="js/FlexGauge.js"></script>
<script src="js/app.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>